.book-list{
  flex: 1;
  display: flex;
  overflow: auto;

  &-menu {
    border-top: 4px double $black;
    border-bottom: 4px double $black;
    display: flex;

    .query-options, .sort-options, .search {
      display: flex;
      align-items: center;
    }

    .menu-options {
      width: 203px;
      height: 30px;
      opacity: 100;
      transition: width 0.3s ease;
      overflow: hidden;

      @include atExtraSmall {
        width: 280px;
      }

      &-hidden {
        width: 0;
      }
    }

    p {
      font-weight: 700;
      margin: .5rem 1rem;
    }

    .option-btn {
      font-size: .8em;
      margin: .1rem 0;
      padding: .3rem .3rem;

      @include atExtraSmall {
        font-size: .9em;
        margin: .1rem .4rem;
      }

      &:hover {
        color: $red;
      }

      &:focus {
        outline: none;
      }

      &-header {
        margin: .1rem .2rem;
        padding: .3rem .5rem;

        @include atExtraSmall {
          margin: .1rem .2rem;
        }

        &:focus {
          outline: none;
        }
      }
    }

    .active {
      color: $red;
      font-weight: 700;
    }

    .sort:after {
      padding-left: .5rem;
      content: "\21C5";
    }
  }

  &-no-books {
    margin-top: 2rem;
  }
}

.list{
  display: flex;
  min-height: min-content;
  padding: 0;
  margin: 0;

  &-item {
    flex: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 1rem;
    text-align: center;
    cursor: pointer;

    img {
      height: 300px;
    }
  }
}
