.book-detail {

  @include atSmall {
    width: 90%;
    margin: 0 auto;
  }

  @include atMedium {
    width: 70%;
    margin: 0 auto;
  }

  .book {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    @include atSmall {
    flex-direction: row;
    }

    img {
      height: 450px;
      width: 300px;
      margin: 0 auto;
      padding-bottom: 1rem;

      @include atMedium {
        height: 400px;
        width: auto;
        margin: auto;
        padding-bottom: 0;
      }
    }

    &-info {
      margin-left: 10px;

      .title {
        font-size: 1.3em;
        letter-spacing: .1em;
        font-weight: 700;
        margin-top: 1rem;
      }

      .show-more-btn {
        font-family: $main-font;
        background-color: $white;
        border: none;
        color: $red;

        &:hover {
          color: $black;
          cursor: pointer;
        }
      }
    }
  }
}

.book-toolbar {
  font-family: $title-font;
  position: relative;

  &-main {
    border-top: 4px double $black;
    border-bottom: 4px double $black;
    display: flex;
    justify-content: space-between;
  }

  &-options {
    background-color: $white;
    border: 1px solid #d3d3d3;
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    position: absolute;
  }

  .header-btn, .option-btn {
    padding: .5rem;

    &:hover {
      color: $red;
    }

    &:focus {
      outline: none;
    }

    span {
      font-size: .7em;
      margin-left: 10px;
      position: relative;
      top: -2px;
    } 
  }

  .option-btn {
    text-align: left;
  }

  .delete-btn {
    color: $red;
      
    &:hover {
      color: $black;
    }
  }
}
