.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 .5rem;
  padding: 0;
  
  @include atSmall {
    justify-content: flex-end;
    margin-top: -36px;
  }

  li {
    font-size: 1.1em;
    letter-spacing: .1em;
    list-style: none;
    padding: 10px;

    @include atSmall {
      font-size: 1.3em;
      padding: 10px 20px;
    }
    
    a {
      color: $black;

      &:hover {
        color: $red;
      }
    }
  }

  .active {
    color: $red;
    font-weight: 700;
  }

  .sign-out-btn {
    font-size: .7em;
    padding: .5rem 1rem;
  }    
}

  