.book-list{
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;

  &-item {
    flex: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 1rem;

    h3 {
      font-family: $title-font;
      font-size: 1.1em;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }

    img {
      height: 300px;
    }
  }
  
}