.navbar {
  font-family: $title-font;
  font-size: 1.5em;
  letter-spacing: .1em;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-end;

  li {
    list-style: none;
    padding: 10px 20px;
    
    a {
      color: #000;
      text-decoration: none;

      &:hover {
        color: red;
      }
    }
  }
}