@import url('https://fonts.googleapis.com/css?family=Unica+One|Vollkorn');
@import 'styles/variables';
@import 'styles/mixins';
@import 'styles/book-list';
@import 'styles/book-detail';
@import 'styles/navbar';
@import 'styles/add-book';

html, body {
  background-color: $white;
}

.App {
  font: .95em $main-font;
  margin: .5rem;

  @include atExtraSmall {
    margin: 1rem;
  }

  h1 {
    font-family: $title-font;
    font-weight: 400;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin: 0;
  }

  a{
      color: $red;
      text-decoration: none;

      &:hover {
        color: $black;
      }
    }

/* Buttons */
  .btn-black, .btn-white {
    font-family: $title-font;
    border: none;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    transition: all 0.3s ease;

     &:hover {
      cursor: pointer;
    }
  }

  .btn-black {
    background-color: $black;
    border-radius: 3px;
    color: $white;

    &:hover {
      background-color: $red;
    }
  }

  .btn-white {
    background-color: $white;
  }

/* Library Component */
  .no-book {
    font-size: 1.1em;
    margin-bottom: 4rem;

    @include atSmall {
      margin-bottom: 5rem;
    }
  }

  .book {
    .title {
      font-family: $title-font;
      text-transform: uppercase;
    }
}

/* Login Component */
  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1em;
    margin-top: 5rem;
    text-align: center;

    .sign-in-btn {
      margin: 1rem;
      padding: .62rem 1rem;
      width: 170px;
    }
}

/* Scroll to Top Component */
  .scroll-to-top {
    background-color: $red;
    border-radius: 3px;
    color: $white;
    padding: .5rem .8rem;
    font-size: 1.2em;
    transition: all 0.5s ease;

    &:hover {
      background-color: $black;
    }
  }
}